footer .greyed {
    background: #eee;
    padding: 60px 0;
}
footer .greyed h4 {
    font-size: 20px;
    color: #000;
    letter-spacing: -1;
    margin-bottom: 20px;
    font-weight: 700;
}
footer .greyed .social-links, footer .greyed .app-links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
footer .greyed .social-links li:not(:last-child), footer .greyed .app-links li:not(:last-child) {
    margin-right: 10px;
}
footer .greyed .social-links li a {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #000;
    text-align: center;
    line-height: 36px;
    color: #fff;
    display: block;
    font-size: 18px;
}
.form-control {
    border: 0;
    background: #fff;
    border-bottom: #e6e6e6 solid 2px;
    border-radius: 0;
    box-shadow: none;
    padding: 10px 0;
    height: inherit;
    font-size: 16px;
    height: 44px;
}
.newsletter-form {
    width: 100%;
    position: relative;
}
.newsletter-form .form-control {
    height: 42px;
    background: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    color: #333;
    font-size: 16px;
    box-shadow: none;
    width: 70%;
}
.newsletter-form .btn-main {
    position: absolute;
    left: 73%;
    top: 0;
    height: 42px !important;
    padding: 10px 25px;
    font-size: 14px;
    background: #000;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
}
footer .greyed .app-links li img {
    width: 150px;
}
footer .foot-navs {
    padding: 60px 0;
}
footer .foot-navs h5 {
    font-size: 18px;
    color: #000;
    letter-spacing: -1;
    margin-bottom: 20px;
    font-weight: 700;
}
footer .foot-navs ul.the-mall li {
    width: 50%;
    float: left;
}
footer .foot-navs ul li, footer .foot-navs ul li a {
    font-size: 16px;
    color: #666;
}
footer .foot-navs ul li {
    padding-bottom: 10px;
}
footer .legal--copyrights {
    border-top: #eee solid 2px;
    padding: 40px 0;
}
footer .legal--copyrights p, footer .legal--copyrights ul li a {
    font-size: 14px;
    color: #999;
}
footer .legal--copyrights ul {
    float: right;
}
footer .legal--copyrights ul li {
    float: left;
    margin-left: 20px;
}
.go-up {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #f2f2f2;
    right: 25px;
    bottom: 95px;
    z-index: 222;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    font-size: 28px;
}